<header class="header">
  <div class="container">
    <a href="/" class="logo"
      ><img src="/img/logo.png" alt="Mehran Logo" width="170" height="70"
    /></a>

    <nav class="navbar" data-navbar>
      <div class="navbar-top">
        <a href="#" class="logo"
          ><img src="/img/logo.png" width="119" height="37" alt="Mehran logo"
        /></a>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>
      <ul class="navbar-list">
        <li>
          <a href="/" class="navbar-link hover-1" data-nav-toggler>خانه</a>
        </li>
        <li>
          <a href="/about" class="navbar-link hover-1" data-nav-toggler
            >درباره ی من</a
          >
        </li>
        <li>
          <a href="/contact" class="navbar-link hover-1" data-nav-toggler
            >تماس با من</a
          >
        </li>
      </ul>
      <p class="copyright-text">
        Copyright 2025 © Mehr_code - Personal Blog. Developed by Node.js & HTML
        CSS JS
      </p>
    </nav>

    <button class="btn btn-primary">
      جستجو
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="24"
        height="24"
        viewBox="0,0,256,256"
      >
        <g
          fill="#ffffff"
          fill-rule="nonzero"
          stroke="none"
          stroke-width="1"
          stroke-linecap="butt"
          stroke-linejoin="miter"
          stroke-miterlimit="10"
          stroke-dasharray=""
          stroke-dashoffset="0"
          font-family="none"
          font-weight="none"
          font-size="none"
          text-anchor="none"
          style="mix-blend-mode: normal"
        >
          <g transform="scale(5.12,5.12)">
            <path
              d="M21,3c-9.39844,0 -17,7.60156 -17,17c0,9.39844 7.60156,17 17,17c3.35547,0 6.46094,-0.98437 9.09375,-2.65625l12.28125,12.28125l4.25,-4.25l-12.125,-12.09375c2.17969,-2.85937 3.5,-6.40234 3.5,-10.28125c0,-9.39844 -7.60156,-17 -17,-17zM21,7c7.19922,0 13,5.80078 13,13c0,7.19922 -5.80078,13 -13,13c-7.19922,0 -13,-5.80078 -13,-13c0,-7.19922 5.80078,-13 13,-13z"
            ></path>
          </g>
        </g>
      </svg>
    </button>

    <button
      class="nav-open-btn"
      aria-label="open menu"
      data-nav-toggler
      style="margin-left: 9rem"
    >
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>
  </div>
</header>
