<div class="hero">
  <div class="author">
    <h1 class="author__heading">چطوری؟ من مهرانم</h1>
    <p class="author__body">کنجکاو در مورد کامپیوتر</p>
  </div>

  <img
    src="/img/heroPic.JPG"
    alt="a standing man with beautiful smile"
    class="hero-img"
    width="981"
    height="528"
  />
</div>
<section class="articles">
  <h2 class="article__heading">آخرین پست ها</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>عنوان پست:</span>
        <span class="article-list__date">تاریخ انتشار:</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; نمایش پست های قدیمی تر</a>
</section>
